<main class="devise-container">
  <section class="content-container display-flex">
    <h1>Log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field display-flex">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field display-flex">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="field display-flex">
        <%= f.submit "Log in", class: 'btn' %>
        <%= link_to "Back", root_path, class: 'btn back' %>
      </div>

      <div class="links-div display-flex">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: 'links' %>
        <% end %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'links' %>
        <% end %>
    </div>
    <% end %>

  </section>
</main>

